<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
    <head th:insert="fragmentos/head :: head"></head>
    <body>
        <!--        <nav th:insert="fragmentos/navbar :: nav"> </nav>-->
        <img class="mb-4" src="/img/listarecetas.png" alt="" width="100%" height="100%">
        <!--        <h1>Lista de recetas</h1>-->
        <div class="container col-10">
        <table class="table">
            
            <thead>
            <a href="/receta/form"<button type="button" class="btn btn-warning btn-lg">Nueva Receta</button></a>
        </thead>
        <tbody>
            <tr th:each="receta : ${receta}">
                <th sec:authorize="hasAnyRole('ADMIN')" scope="col">Id</th>
                <td sec:authorize="hasAnyRole('ADMIN')" th:text="${receta.id}"></td>  
                <td>    
                    <img class="img-thumbnail rounded float-left" th:if="${receta.imagen != null}" th:src="${'/imagen/receta/' + receta.id}" alt="" width="250px">
                    <img class="img-thumbnail rounded float-left" th:if="${receta.imagen == null}" src="/img/sinPortada.jpeg" alt="" width="250px">
                </td>
                <td th:text="${receta.nombre}"></td>
                <th scope="col">Tiempo de Coccion</th>
                <td th:text="${receta.tiempoDeCoccion}"></td>
                <th scope="col">Categoria</th>
                <td th:text="${receta.categoria}"></td>
                <th scope="col">Ingredientes</th>
                <td th:text="${receta.ingredientes}"></td>

                <td>  <a sec:authorize="hasAnyRole('ADMIN')" th:href="@{/receta/editar(id=__${receta.id}__)}"<button type="button" class="btn btn-outline-success ">Editar</button></a></td>
                <td>  <a th:href="@{/buscar/receta-seleccionada(id=__${receta.id}__)}"<button type="button" class=" btn btn-outline-success btn-sm center-block" >Ver mas</button></a></td>
            </tr>    
        </tbody><!--
-->    </table>
        </div>
<!--        <div th:each="receta : ${receta}" class="card col d-flex justify-content-center" style="width: 40rem;">
            <img class="card-img-top" th:if="${receta.imagen != null}" th:src="${'/imagen/receta/' + receta.id}" alt="" width="250px">
            <img class="card-img-top" th:if="${receta.imagen == null}" src="/img/sinPortada.jpeg" alt="" width="250px">
        <div class="card-body" >
            <h5 class="card-title" th:text="${receta.nombre}">Nombre:</h5>
            <p class="card-text" th:text="${receta.categoria}">Categoria:</p>
            <p class="card-text" th:text="${receta.tiempoDeCoccion}">Tiempo de cocción:</p>
            <p class="card-text" th:text="${receta.ingredientes}">Ingredientes:</p>
            <a sec:authorize="hasAnyRole('ADMIN')" th:href="@{/receta/editar(id=__${receta.id}__)}"<button type="button" class="btn btn-outline-success btn-sm">Editar</button></a>
            <a th:href="@{/buscar/receta-seleccionada(id=__${receta.id}__)}"<button type="button" class=" btn btn-outline-success btn-sm center-block" >Ver mas</button></a>
        </div>
    </div>-->

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
</body>
</html>